@CHARSET "ISO-8859-1";

 .linkbutton{
 	border: none;
    display: inline;
    margin: 0em;
    padding: 0em;
    outline: none;
    outline-offset: 0em;
    background: none;
    color: #0000FF;
    cursor: pointer;
    font: inherit;
    text-decoration: underline;
    }
    
.imageSizeScale {
    max-height: 450px;
    max-width: 700px;
    }
    